source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget YC.QuickGraph
nuget YC.SDK 0.2.0-alpha1 alpha

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2